@model WhatsIn.Models.ServiceModel

<div class="intro">
    <div class="fullpage">
        <div class="ab-wrap">
            <div class="ab-center">
                <div class="wowload fadeInDown">
                    <!--img src="images/logo.png" class="wowload rotateIn"-->
                    <h1 class="title">What's In?</h1>
                    <!--p>
                        Ready to serve you!
                    </p-->
                    @using (Html.BeginForm("", "Results", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m=> m.Location, new { @class = "form-control", placeholder = "Ex. Santa Rosa Laguna, Quezon City" })                            
                        </div>
                        <button type="submit" class="btn btn-success">Search</button>
                    }
                </div>
            </div>
        </div>
    </div>

    <a href="#about" class="anchor scroll wowload fadeInDownBig"><i class="fa fa-angle-down  fa-4x"></i></a>

</div>
<!-- intro -->
<!-- about -->
<div class="about spacer" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wowload fadeInLeftBig">
                <h3>About WhatsIn</h3>
                <p>WhatsIn! is a platform to help customers easily find people selling intangible products or services.</p>
            </div>
            <div class="col-md-6 text-center"><a href="http://socialsteak.com/" target="_blank" title="credit www.socialsteak.com"><img src="images/service.jpg" class="img-responsive wowload fadeInUp" alt="http://socialsteak.com/"></a></div>
        </div>
    </div>
</div>
<!-- about -->
<!-- contact -->
<div class="contact wowload fadeIn" id="contact">

    <div class="container">
        <h4 class="text-center">@ViewBag.Message</h4>
        <h2 class="text-center">Contact us</h2>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form>
                    <div class="form-group">
                        <input id="name" name="name" type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input id="email" name="email" type="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <textarea id="message" name="message" class="form-control" placeholder="Your Message" rows="5"></textarea>
                    </div>
                    <button id="btnContact" type="submit" class="btn btn-success"><i class="fa fa-send-o"></i> Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- contact -->

<script>
    $('#btnContact').click(function (e) {
        e.preventDefault();
        var name = $('#name').val();
        var email = $('#email').val();
        var message = $('#message').val();
        
        $.ajax({
            type: "POST",
            url: "@Url.Action("SendMessage","Home")",
            data: {
                name: name,
                emailaddress: email,
                content: message,
            },
            success: function (data) {
                alert("Your message has been sent!");
                location.reload();
            },
        });
    });
</script>