
<div class="about spacer" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wowload fadeInLeftBig">
                <h3>PRIVACY POLICY</h3>
                <ul>
                    <li><p>For your privacy's protection, we at WhatsIn use the following guidelines for customer privacy. Signing up for an account at WhatsIn means that you have read the following policies and have agreed to the associated terms.</p></li>
                    <li><p>By signing up for an account with WhatsIn, you agree to provide and maintain accurate, complete and up-to-date information about yourself as required by the account creation process.</p></li>
                    <li><p>All information collected by WhatsIn will be used to: resolve disputes; troubleshoot problems; benchmark consumer interest in our services; protect WhatsIn and its users from fraud or any other criminal activity; and as otherwise described to the user at the time of collection.</p></li>
                    <li><p>Upon your account's creation, all of your information is protected from other users by the provided login name and password. You are responsible for keeping your login information including your email address confidential and undisclosed.</p></li>
                    <li><p>You agree that WhatsIn may use personal information about you to analyze site usage, improve content and product offerings, and customize WhatsIn's services.</p></li>
                    <li><p>You agree that WhatsIn may use personal information about you and disclose such information in a non-personally identifiable manner to its advertisers and sponsors for their marketing and promotional purposes.</p></li>
                    <li><p>You agree that WhatsIn may disclose your site information, postings, and messages relative to any investigation concerning activities deemed criminal or illegal in nature.</p></li>
                </ul>                
            </div>            
        </div>
    </div>
</div>